.far
{
  cursor: pointer;
}
.edit{
  cursor: pointer;
  color: #3887e0
}
.delete{
  cursor: pointer;
  color: #dc3545
}
.box {
  width: 100%;
  border: 10px solid #007092;
}
table{
  margin-left: 15vh;
  position: center;
  width: 80%;
}
